body {
  font-family: Brice SemiExpanded;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: #f6c754; /* naranja */
  color: black;       /* texto en negro */
}

header {
  background: #a91c14;
  color: black;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 1.5em;
  font-weight: bold;

  /* Para alinear íconos + texto en fila y centrados */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

header .icon {
  width: 58px;   /* ajusta el tamaño del logotipo */
  height: auto;  /* mantiene proporción */
  display: block;
}

main {
  margin: 20px;
  text-align: center;
}

img {
  max-width: 90%;
  border-radius: 0px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
button#upload_widget {
  background: #a91c14;
  color: white;
  font-size: 1.2em;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button#upload_widget:hover {
  background: #7a120e;
}

